*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-weight: 400;
  letter-spacing: -0.666667px;
}
@media (min-width: 1110px) {
  h1 {
    font-size: 7.2rem;
    line-height: 6.4rem;
    letter-spacing: -1px;
  }
}

h2 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-weight: 400;
  letter-spacing: -0.666667px;
}
@media (min-width: 1110px) {
  h2 {
    font-size: 7.2rem;
    line-height: 6.4rem;
    letter-spacing: -1px;
  }
}

h3 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.555556px;
}
@media (min-width: 1110px) {
  h3 {
    font-style: 5.6rem;
    line-height: 5.6rem;
    letter-spacing: -0.777778px;
  }
}

h4 {
  font-size: 2.8rem;
  line-height: 3.8rem;
  font-weight: 400;
  letter-spacing: -0.388889px;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: "Karla", sans-serif;
}

.container {
  text-align: center;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.header__topbar {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  background-color: white;
}
.header__topbar--menu {
  cursor: pointer;
}
.header__nav--items {
  position: fixed;
  right: -100%;
  top: 8rem;
  background: url("../images/bg-pattern-mobile-nav.svg") no-repeat, #2c2830;
  background-position: bottom 8rem left 0;
  background-size: 100% auto;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}
.header__nav--items-item {
  font-size: 2rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 1.36px;
  margin: 2.4rem;
}
.header__nav--items-item a {
  color: white;
}
.header__nav--items-item button {
  width: 100%;
  max-width: 32.7rem;
  height: 5.6rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 1.36px;
}

.menuOpen {
  right: 0;
}

.hero {
  background-color: #2d2640;
  color: white;
}
.hero__hero--img {
  width: 100vw;
  height: 45.1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__content {
  padding: 9.3rem 2.4rem;
  position: relative;
  z-index: 1;
}
.hero__content--headline {
  margin-bottom: 1.6rem;
}
.hero__content--text {
  margin-bottom: 3.2rem;
}
.hero__content--btn {
  width: 14.6rem;
  height: 4rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
.hero__bg-patterns--right {
  position: absolute;
  right: 0;
  top: 88rem;
}
.hero__bg-patterns--left {
  position: absolute;
  left: 0;
  top: 53.3rem;
}

.features {
  padding: 14rem 2.4rem;
}
.features__separator {
  height: 1px;
  width: 15rem;
  margin: 0 auto;
  background-color: #c396c6;
  margin-bottom: 4rem;
}
.features__headline {
  margin-bottom: 8rem;
  color: #2c2830;
}
.features__item:not(:last-child) {
  margin-bottom: 5.6rem;
}
.features__item--icon {
  margin-bottom: 3.2rem;
}
.features__item--headline {
  margin-bottom: 1.6rem;
  color: #2c2830;
}
.features__item--text {
  color: #837d87;
}

.cta {
  background: url("../images/bg-pattern-how-we-work-mobile.svg") no-repeat, #2d2640;
  background-position: top 0 right 0;
  padding: 7.2rem 2.4rem;
  margin-inline: 2.4rem;
  margin-bottom: 14rem;
}
.cta__headline {
  color: white;
  margin-bottom: 4rem;
}
.cta__btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 16rem;
  height: 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=App.css.map */