.header {
  position: sticky;
  top: 0;
  &__topbar {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem;
    background-color: white;

    &--logo {
      &-img {
      }
    }
    &--menu {
      cursor: pointer;
      &-img {
      }
    }
  }
  &__nav {
    &--items {
      position: fixed;
      text-align: center;
      right: -100%;
      background-color: #2c2830;
      width: 100vw;
      height: 100vh;
      transition: all 0.3s ease-in-out;
      &-item {
        font-size: 2rem;
        font-weight: $fw-bold;
        line-height: 4rem;
        letter-spacing: 1.36px;
        margin: 2.4rem;
        & a {
          color: white;
        }
        & button {
          width: 100%;
          max-width: 32.7rem;
          height: 5.6rem;
          border: 1px solid white;
          background-color: transparent;
          color: white;
          font-size: 2rem;
          font-weight: $fw-bold;
          line-height: 4rem;
          letter-spacing: 1.36px;
        }
      }
    }
  }
}

.menuOpen {
  right: 0;
}
